.Header {
    color: rgb(209, 84, 57);
    font-family: 'Baskerville-SemiBold', 'Baskerville', 'Times New Roman', serif;
    font-size: 54px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 61px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_490_36 {
    position: relative;
}
.Normal {
    padding: 0px;
}
.Normal_External_530_61 {
    position: relative;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.Title {
    color: rgb(209, 84, 57);
    font-family: 'Baskerville-SemiBold', 'Baskerville', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(225, 59, 0);
    text-decoration: none;
}
a:visited {
    color: rgb(138, 82, 58);
    text-decoration: underline;
}
a:hover {
    color: rgb(213, 140, 85);
    text-decoration: underline;
}
#widget4 a:visited {
    color: rgb(138, 82, 58);
    text-decoration: underline;
}
#widget4 a {
    color: rgb(225, 59, 0);
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#id2 canvas {
    z-index: -1;
}
#widget0 a:hover {
    color: rgb(213, 140, 85);
    text-decoration: underline;
}
#widget8 a {
    color: rgb(225, 59, 0);
    text-decoration: none;
}
#widget7 a:hover {
    color: rgb(213, 140, 85);
    text-decoration: underline;
}
#widget8 a:visited {
    color: rgb(138, 82, 58);
    text-decoration: underline;
}
#widget3 a {
    color: rgb(225, 59, 0);
    text-decoration: none;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget7 .Comment_Posted_Date {
    color: rgb(138, 82, 58);
    font-family: 'AppleCasual', 'Casual', 'Comic Sans MS', serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget5 a:visited {
    color: rgb(138, 82, 58);
    text-decoration: underline;
}
#widget8 a:hover {
    color: rgb(213, 140, 85);
    text-decoration: underline;
}
#widget7 a:visited {
    color: rgb(138, 82, 58);
    text-decoration: underline;
}
#widget6 a:visited {
    color: rgb(138, 82, 58);
    text-decoration: underline;
}
#widget6 a:hover {
    color: rgb(213, 140, 85);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget4 a:hover {
    color: rgb(213, 140, 85);
    text-decoration: underline;
}
#widget6 a {
    color: rgb(225, 59, 0);
    text-decoration: none;
}
#widget0 a:visited {
    color: rgb(138, 82, 58);
    text-decoration: underline;
}
#widget7 a {
    color: rgb(225, 59, 0);
    text-decoration: none;
}
#widget5 a {
    color: rgb(225, 59, 0);
    text-decoration: none;
}
#widget0 a {
    color: rgb(225, 59, 0);
    text-decoration: none;
}
#widget5 a:hover {
    color: rgb(213, 140, 85);
    text-decoration: underline;
}
#widget3 a:visited {
    color: rgb(138, 82, 58);
    text-decoration: underline;
}
#id2 div.caption {
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-indent: 0px;
    white-space: nowrap;
}
#widget8 .Comment_Posted_Date {
    color: rgb(138, 82, 58);
    font-family: 'AppleCasual', 'Casual', 'Comic Sans MS', serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#id2 div.caption span.metric {
    color: rgb(78, 29, 1);
    font-family: 'HoeflerText-Italic', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    opacity: 1.00;
    text-decoration: none;
    text-transform: none;
}
#id2 div.caption span.title {
    color: rgb(78, 29, 1);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    opacity: 1.00;
    text-decoration: none;
    text-transform: none;
}
#widget3 a:hover {
    color: rgb(213, 140, 85);
    text-decoration: underline;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
